body {

   background-color: #f5ede3;
   background-image: url('./images/joyOfCookingCover.png');
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: right top;

}

h1 {
   font-family: Arial, Helvetica, sans-serif;
}

.TOC {
   text-align: center;
}